# How to run code

You can run all code in the notebook by MENU : CELL -- RUN ALL

You can run a single cell's code by selecting the cell and then hitting CONTROL + ENTER

If code evaluation reaches and error the code below the error will not be evaluated. In this case you can run the code below by

MENU : CELL -- RUN ALL BELOW

You can clear all output with CELL -- ALL OUTPUT -- CLEAR

   # Variables and print

Variables hold values. These values are not necessarily numbers. You can define variables and their values with '='.
Below we define variable 'a' that has value '1'.

In [1]:
a = 1

In order to see the value of a variable just type its name and press ENTER. Python will display the value of the variable in response as OUTPUT ('OUT:')

In [2]:
a

1

You can also add comments to your python code. Comments are not interpreted as code. They are just there to remind you of important things about your code. Comments come after '#'.

In [3]:
a = 1 # this is a comment from the '#' sign onwards

In [4]:
# Because this line starts with a '#' sign, the whole line is just a comment
# a = 2     #  a = 2 is not intereted because this line is a comment

You can print the value of a variable with 'print'. The name of the variable whose value you want to print is in parentheses.

In [5]:
print(a)

1

The type of the value a variable holds determines the 'type' of the variable. Below are some variables with different types of values. Notice that variable values are not necessarily numbers.

In [6]:
a = 2   # whole number: integer type
b = 3.2 # number with decimal part: floating point number
c = 'breakfast buffet' # string type, defined using single quotes
d = "breakfast buffet as well" # also a string using double quotes

You can query the type of a variable with the 'type' function.

In [7]:
type(a) # int = integer type

int

In [8]:
type(b) # float = floating point number

float

Above we have defined variables a, b and c. Here we print their values.

In [9]:
print (a, b, c, d)

2 3.2 breakfast buffet breakfast buffet as well

You can also define separator characters between the to be printed variables.

In [10]:
print (a, b, c, d, sep = ',  ')

2,  3.2,  breakfast buffet,  breakfast buffet as well

Notice that the value of 'a' has changed from '1' to '2' because we have defined it again. Here we redefine 'c'. Notice that not only the value but also the type of variable 'c' changes. Previously 'c' referred to a string, now it refers to a number.

In [11]:
c = 5 # we change the value of 'c'
print(c)

5

You can also print semicolons and other text between the variable values.

In [12]:
print(a, '; ', b, 'and then ', c, 'and finally ', d)

2 ;  3.2 and then  5 and finally  breakfast buffet as well

# Error messages

Let's try this instruction.

In [13]:
a = 1

# If you remove the comment sign (#) from the beginning of the following line that will cause an error:
# printNicely(a)  # remove the # character from the beginning and press CRTL + ENTER

You get a 'NameError'. Python does not know the name of the instruction you attmepted to use. Error messages indicate that Python cannot understand you.

# Basic operations on numbers and variable values

You can use Python as a calculator.

If you directly type some operation into the command prompt then Python will show you its result as 'Out' = 'Output'.

In [14]:
(45+15)/2

30.0

You can also enter your operations directly between the parentheses after 'print'

In [15]:
print((45+15)/2)

30.0

However, if you use the operations to give value to a variable, the variable value will not be shown by default.

In [16]:
MyValue = (45+15)/2 # nothing is shown below but the variable 'MyValue' now has the computed value

If you want to see the value of 'MyValue' then you can use print

In [17]:
print(MyValue)

30.0

If you write some code then you will do operations with variables.

In [18]:
a = 10  # first we define variables a and b
b = 3.4

In [19]:
c = a + b  # adding
d = a - b  # subtracting
e = a * c  # multiplying
f = a / b  # dividing
g = a ** 3 # raising to a power: a on the 3rd power
h = a % 3  # returns remainder after division by 3: 10 = 3*3 + 1. Remainder = 1
i = ((a * c) ** 2) / 3 # more operations in one line
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

13.4
6.6
134.0
2.9411764705882355
1000
1
5985.333333333333

Operations have 'precedence order'. This order determines which operations are evaluated first. First ** is evaluated, then multiplication and division, finally addition and subtraction. If operations have the same precedence level than they are evaluated from left to right.

In [20]:
print(30/2)
print(30/2*3)
print(30*4)
print(30*4-3)

15.0
45.0
120
117

You can modify the default precedence order by using parentheses such as you learnt in your math class. Silly newspaper articles love to frame confusion about precedence order as some kind of a math mistery. Compare these results.

In [21]:
print(30/2*3)
print(30/(2*3)) # first evaluate (2*3) and then 30 / (result of 2*3)
print(30*2/4)
print(30*(4-3)) # first evaluate (4-3) and then 30 / (result of 4-3)

45.0
5.0
15.0
30

In [22]:
print(2*3)
print(2**3)
print(2**3*2)
print(2**(3*2))

6
8
16
64

You can do some operations even on strings. For example, you can add them.

In [23]:
text1 = "Are you " # notice that the last character of this string is a space
text2 = "surprised?"
NewText = text1 + text2

You can also 'multiply' strings. Python interprets this as repeating a string a given number of times.

In [24]:
text1 = "Remember " # spot the space at the end of this string
text1 * 3 # this is an operation, so its outcome is displayed even when not using 'print'

'Remember Remember Remember '

In [25]:
print(text1 * 3) # however, you can also use print to display the outcome

Remember Remember Remember

However, subtraction is not interpreted for strings, below you get an error message: unsupported operand type(s) for -: 'str' and 'str'

This basically means that subtracting strings does not make sense for Python.

In [26]:
# You get an error below if you remove the comment sign
# NewText = text1 - text2

# Comparison operations and logical variables

You can test smaller/larger relations and (non) equality by using comparison operators. The results of comparison operations will be logical TRUE or FALSE values.

In [27]:
3 > 5 # test whether 3 is larger than 5

False

In [28]:
a = 3
b = 5
a < 5 # test whether 'a' is smaller than b

True

You can also equate the outcome of a comparison operation with a variable. The below may look odd for first sight but it makes sense.

In [29]:
C = a<b # C will take the value of the outcome of the comparison between a and b
C

True

Variable 'C' above will be of type 'bool', a 'boolean' logical variable that can take values of TRUE and FALSE.

In [30]:
type(C) # query the type of variable 'C'

bool

Smaller or equal and larger or equal operators.

In [31]:
a = 3
b = 3
a <= b # smaller or equal operator

True

In [32]:
a >= b # larger or equal operator

True

You can also test for non (equality).

In [33]:
a == b # does a eual b?

True

In [34]:
a != b # does a not equal b?

False

# List variable type and indexing

A useful variable type is the 'list' type. Lists can have multiple elements of different kinds (numbers, strings). Lists are defined by using the [ ] operators. List elements are separated by commas.

In [35]:
MyList = ["apple", 3, 4, "orange", 10, "dino"] # we define a list with 4 elements
print(MyList)

['apple', 3, 4, 'orange', 10, 'dino']

You can refer to list elements by using their index. The first index is zero, then 1, then 2, etc.

In [36]:
MyList[0] # Referring to the first element of the list. Index is 0.

'apple'

In [37]:
MyList[1]

3

In [38]:
MyList[2]

4

In [39]:
MyList[3] # Referring to the last element of the list. Index is 4-1=3

'orange'

In [40]:
MyList[4] # There is no 5th element, we can get an error message

10

You can also carry out operations on list elements.

In [41]:
MyList[1] + MyList[2] # 3 + 4 = 7

7

Remember, that operations only work if they are interpreted for the types of variables you are trying to use them for. Below you get an error message because you are trying to add an integer (a whole number) to a string. This operation is not supported, so you get the error message: ** TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
# Below you get an error
# MyList[1] + MyList[3]

You can refer to the last list element with the -1 index

In [43]:
MyList[-1]

'dino'

The -2 index stands for the list element before the last element and so on.

In [44]:
MyList[-2]

10

You can refer to multiple list elements by using <b>slicing</b>. Slicing uses a range of indices to refer to list elements. When using slicing you provide the index of the first element to use, then the colon operator (:) and the index 1 larger than the last element to use. The syntax is: Start:Stop+1

In [45]:
MyList[0:2] # referring to all elements from index 0 (inclusive) till index 2 (exclusive). Indices: 0, 1.

['apple', 3]

You can also determine the step between consecutive list elements. The syntax is: Start:Stop+1:Step

In [46]:
MyList[0:3:2] # taking every second element: going forward in steps of +2

['apple', 4]

In [47]:
MyList[-1:-4:-2] # going backwards in steps of -2

['dino', 'orange']

You can omit indices and just leave the colon operators. In this case the omitted values will default to the first/last list elements. You can play along with indexing.

In [48]:
MyList[:] # all elements

['apple', 3, 4, 'orange', 10, 'dino']

In [49]:
MyList[::] # all elements

['apple', 3, 4, 'orange', 10, 'dino']

In [50]:
MyList[::1] # all elements (forward in steps of 1)

['apple', 3, 4, 'orange', 10, 'dino']

In [51]:
MyList[::2] # forward in steps of 2

['apple', 4, 10]

In [52]:
MyList[::-1] # backwards in steps of -1

['dino', 10, 'orange', 4, 3, 'apple']

In [53]:
MyList[::-2] # backwards in steps of -2

['dino', 'orange', 3]

In [54]:
MyList[-1::-2] # backwards in steps of -2

['dino', 'orange', 3]

# Creating a range of numbers, conversion between range and list

It is often useful to create a range of numbers. A range of numbers is a series of numbers starting and stopping at certain numbers. Similarly to the indexing rules above, you have to define the number where the series starts and the number 1 after the series stops. This is just arbitrary so because of Python syntax.

Below we create the range (series): 1, 2, 3, 4, ...., 97, 98, 99. 

The syntax is: range(Starting_number, Stopping_number+1)

In [55]:
R = range(1,100) # create a range of numbers from 1 to 100 (1 to 99 inclusive)
R

range(1, 100)

In [56]:
type(R) # the variable will be of 'range' type

range

Such as with lists you can use indexing to access elements of a range type variable.

In [57]:
R[0] # check the first element

1

In [58]:
R[-1] # check the last element

99

Add the first and the second element.

In [59]:
R[0] + R[1]

3

When you view the variable Python will present it with compact notation as a 'range'.

In [60]:
R # values running from 1 to 99

range(1, 100)

In [61]:
R[0:10] # elements at indices: index=0 (value=1), 1 (2), 2 (3), ... index=10 (value=11)

range(1, 11)

If you want to see individual elements you can convert the range type variable to a list type variable with 'list'

In [62]:
L = list(R[0:10]) # this creates a new variable, L (list type) from variable R (range type)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can also refer to the first 4 elements (with indices 0, 1, 2 and 3) in steps of 2.

In [63]:
R[0:3:2]

range(1, 4, 2)

You can also directly create a range (series) of numbers in steps of a given value.

The syntax is: range(Starting_number, Stopping_number+1, Step)

In [64]:
R = range(1,100,2) # create range from 1 to 100 (1 to 99 inclusive) in steps of 2

See the contents of variable 'R'.

In [65]:
R

range(1, 100, 2)

See the contents of first 20 members (indices 0 to 19) of variable 'R' by converting the range type variable to a list type variable.

In [66]:
list(R[0:20])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

You can also take the sum of all elements of R.

In [67]:
sum(R)

2500

# Libraries or Modules

The basic implementation of Python has some commands such as 'print' above. It also knows the basic mathematical operations shown above and many other things. However, the basic implementation does not know many things, for example, it does not have sine or cosine functions. 

For example, you may mistakenly assume that the basic Python implementation does have a sine function called 'sin' and you may attempt to use it. In this case you get a 'NameError'.

In [68]:
a = 3.14
# below you get an error
# sin(a)

While the sine function does not exist in the basic Python, you can load libraries of instructions (also called modules) that add to the functionality of the basic implementation of Python. You can load libraries (modules) by using the 'import' keyword.
For example, below we import the 'math' library (module) that has a sine function.

In [69]:
import math # This imports/loads the 'math' library

You can now use the sine function by referring to the name of the math library first ("math") and then to the name of the sine function ("sin") within the 'math' library. Here is how.

In [70]:
a = 3.14
math.sin(a) # refer to the 'sin' function implemented within the 'math' library

0.0015926529164868282

'math' also has other useful mathematical functions. E.g. the cosine function.

In [71]:
math.cos(a)

-0.9999987317275395

'math' also has a predefined constant value, the highly precise value of 'pi'

In [72]:
math.pi

3.141592653589793

You can read more about the functions implemented in 'math' here:
https://docs.python.org/3/library/math.html

There are many Python libraries. You can read more about the standard python libraries here: https://docs.python.org/3/library/index.html

See a lot of Python documentation here: https://www.python.org/doc/