# Excercises to Session 1.

# 1.

Create a variable called 'b' with value 5.

In [ ]:
b = 5

Display the value of b without using 'print'.

In [ ]:
b

Display the value of 'b' by using 'print'.

In [ ]:
print(b)

Check the variable type of variable 'b'.

In [ ]:
type(b)

# 2.

Create variable 'a' with value '1', variable 'b' with value 'cucumber' and variable 'c' with value 5.

Display the values of a, b and c in a single line with a semicolon and a space in between the values.

In [ ]:
a = 1
b = 'cucumber'
c = '5'
print(a, b, c, sep='; ')

# 3.

Display the outcome of the computation 30*3 + (40/2)

In [ ]:
30*3 + (40/2)

In [ ]:
print( 30*3 + (40/2) ) # alternatively

# 4.

Print the string 'apple, ' 5 times.

In [ ]:
'apple, '*5

In [ ]:
print('apple, '*5) # alternatively

# 5.

Let a = 5 and b = 3. Test whether the value of variable 'a' is larger or equal than that of variable 'b'.

In [ ]:
a = 5
b = 3
a > b

Test whether the value of a does not equal b.

In [ ]:
a != b

Test whether 64 equals 4 on the third power.

In [ ]:
64 == 4**3

# 6.

Create a list type variable named 'GemOfTheDay' with the following elements:

shinyshinyshiny 

5

6

Turquoise

IWant

In [ ]:
GemOfTheDay = ['shiny'*3 , 5, 6, 'Turquoise', 'IWant']
GemOfTheDay

Check the type of this variable.

In [ ]:
type(GemOfTheDay)

Display the first element of this variable.

In [ ]:
GemOfTheDay[0]

Display the last element of this variable.

In [ ]:
GemOfTheDay[-1]

Display the last element and the element before the last element in reversed order.

In [ ]:
GemOfTheDay[-1:-3:-1]

# 7

By using 'range' display all multiples of 10 in reversed order from 100 to 10.

In [ ]:
list(range(100,0,-10))

# 8

Create a variable called 'Values' holding all multiples of 20 in reversed order from 200 to 20.

Display its values.

In [ ]:
Values = list(range(200,0,-20))
Values

Add the first and the last elements of Values.

In [ ]:
Values[0] + Values[-1]

Take the sum of all elements of Values.

In [ ]:
sum(Values)

# 9

Display every second ement of the above Values variable in reversed order.

In [ ]:
Values[-1::-2]

# 10

Compute the sine function value of 100.

In [ ]:
import math
math.sin(100)